<%inherit file="base.html"/>
<%!
    import lazylibrarian
    from lazylibrarian.config2 import CONFIG
%>
<%def name="headerIncludes()">
    <div id="subhead_container" class="row">
      <form action="search" method="get">
        <div id="subhead_menu"  class="col-xs-12 col-md-8">
        </div>
        <div class="clearfix visible-xs"><hr/></div>
        %if perm&lazylibrarian.perm_search:
        <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <label class="sr-only">Search</label>
          <div class="input-group">
            <input type="text" class="form-control deletable input-sm col-xs-12" value="" onfocus="if(this.value==this.defaultValue) this.value='';" placeholder="Title / Author / ISBN" id="searchfor" name="searchfor">
            <span class="input-group-btn">
              <button type="submit" id="btnsearch" name="btnsearch" onclick="reveal();" value="Results" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Search for book"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
        </div>
        %endif
      </form>
    </div>
</%def>
<%def name="body()">

<h1>${title}</h1>
    %if lazylibrarian.SEARCHING == 1:
      <p>
      <button onclick="" id="myAlert" title=""><i class="fa fa-circle-notch fa-spin"></i> Search in progress ...</button>
      </p>
    %else:
      <p>
      <button onclick="" class="hidden" id="myAlert" title=""><i class="fa fa-circle-notch fa-spin"></i> Search in progress ...</button>
      </p>
    %endif

<div class="table-responsive">
    <table class="display table table-striped table-hover table-bordered" id="book_table">
        <thead>
            <tr>
                <th class="bookart text-center no-sort">Cover</th>
                <th class="authorname">Author</th>
                <th class="bookname">Title</th>
                <th class="date text-center">Released</th>
                <th class="stars text-center hidden-sm hidden-xs">Rating</th>
                <th class="stars text-center hidden-sm hidden-xs">Rating count</th>
                <th class="add_author text-center no-sort">Add</th>
                <th class="fuzz text-right">Match</th>
             </tr>
        </thead>

        <tbody>
            %if searchresults is not None:
                %for result in searchresults:
                    <%
                    if result['bookrate'] < 0.5:
                        starimg = '0-stars.png'
                    elif result['bookrate'] >= 0.5 and result['bookrate'] < 1.5:
                        starimg = '1-stars.png'
                    elif result['bookrate'] >= 1.5 and result['bookrate'] < 2.5:
                        starimg = '2-stars.png'
                    elif result['bookrate'] >= 2.5 and result['bookrate'] < 3.5:
                        starimg = '3-stars.png'
                    elif result['bookrate'] >= 3.5 and result['bookrate'] < 4.5:
                        starimg = '4-stars.png'
                    elif result['bookrate'] >= 4.5:
                        starimg = '5-stars.png'
                    else:
                        starimg = '0-stars.png'

                    if authorlist and result['authorid'] in authorlist:
                        destination = "author_page?authorid="+result['authorid']
                        value = "Have Author"
                        but_class = "btn-info"
                    elif loadlist and result['authorid'] in loadlist:
                        destination = "#"
                        value = "Loading"
                        but_class = "btn-warning"
                    elif result['authorid']:
                        destination = "add_author_id?authorid="+result['authorid']
                        value = "Add Author"
                        but_class = "btn-success"
                    else:
                        destination = "add_author?authorname="+result['authorname']
                        value = "Add Author"
                        but_class = "btn-success"

                    but_class2 = "btn-info hidden"
                    but_class3 = "btn-info hidden"
                    value2 = value
                    value3 = value
                    destination2 = "#"
                    destination3 = "#"

                    if value == "Loading":
                        value2 = value
                        destination2 = "#"
                        but_class2 = "btn-info hidden"
                        value3 = value
                        destination3 = "#"
                        but_class3 = "btn-info hidden"
                    elif booklist:
                        if result['bookid'] in booklist:
                            for item in booksearch:
                                if item['BookID'] == result['bookid']:
                                    value2 = '<i class="fa fa-book"></i> ' + item['Status']
                                    value3 = '<i class="fa fa-headphones"></i> ' + item['AudioStatus']
                                    valid_id = item['BookID']

                            if 'Open' in value2:
                                destination2 = "open_book?library=eBook&bookid="+valid_id
                                but_class2 = "btn-warning"
                            elif 'Wanted' in value2:
                                destination2 = "search_for_book?library=eBook&bookid="+valid_id
                                but_class2 = "btn-success"
                            elif 'Have' in value2 or 'Snatched' in value2:
                                destination2 = "#"
                                but_class2 = "btn-info"
                            elif 'Skipped' in value2:
                                destination2 = "add_book?library=eBook&bookid="+result['bookid']
                                if result['authorid']:
                                    destination2 = destination2 + "&authorid="+result['authorid']
                                value2 = "Add Book"
                                but_class2 = "btn-success"
                            else:
                                destination2 = "#"
                                but_class2 = "btn-default"

                            if 'Open' in value3:
                                destination3 = "open_book?library=AudioBook&bookid="+valid_id
                                but_class3 = "btn-warning"
                            elif 'Wanted' in value3:
                                destination3 = "search_for_book?library=AudioBook&bookid="+valid_id
                                but_class3 = "btn-success"
                            elif 'Have' in value3 or 'Snatched' in value3:
                                destination3 = "#"
                                but_class3 = "btn-info"
                            elif 'Skipped' in value3:
                                destination3 = "add_book?library=AudioBook&bookid="+result['bookid']
                                if result['authorid']:
                                    destination3 = destination3 + "&authorid="+result['authorid']
                                value3 = "Add Audio"
                                but_class3 = "btn-success"
                            else:
                                destination3 = "#"
                                but_class3 = "btn-default"
                        else:
                            destination2 = "add_book?library=eBook&bookid="+result['bookid']
                            if result['authorid']:
                                destination2 = destination2 + "&authorid="+result['authorid']
                            value2 = "Add Book"
                            but_class2 = "btn-success"

                            destination3 = "add_book?library=AudioBook&bookid="+result['bookid']
                            if result['authorid']:
                                destination3 = destination3 + "&authorid="+result['authorid']
                            value3 = "Add Audio"
                            but_class3 = "btn-success"

                    if not CONFIG.get_int('EBOOK_TAB'):
                        value2 = value
                        destination2 = "#"
                        but_class2 = "btn-info hidden"
                    if not CONFIG.get_int('AUDIO_TAB'):
                        value3 = value
                        destination3 = "#"
                        but_class3 = "btn-info hidden"
                    %>
<tr>
  <td class="bookart text-center"><a href="${result['bookimg']}" target="_blank" rel="noreferrer"><img src="${result['bookimg']}" alt="Cover"></a></td>
  <td class="authorname">${result['authorname']}</td>
  <td class="bookname"><a href="${result['booklink']}" target="_blank" rel="noreferrer">${result['bookname']}</a></td>
  <td class="date text-center">${result['bookdate']}</td>
  <td class="stars text-center"><img src="images/${starimg}" alt="${result['bookrate']}"></td>
  <td class="bookrate_count">${result.get('bookrate_count', 0)}</td>
  <td class="add_author text-center">
    <p><a class="${but_class} btn btn-xs" href="${destination}">${value}</a></p>
    <p><a class="${but_class2} btn btn-xs" href="${destination2}">${value2}</a></p>
    <p><a class="${but_class3} btn btn-xs" href="${destination3}">${value3}</a></p>
  </td>
  <td class="fuzz text-right">${result['highest_fuzz']}%</td>
</tr>
%endfor
%endif
</tbody>
</table>
</div>
<p>&nbsp;</p>
</%def>
<%def name="headIncludes()">
</%def>
<%def name="javascriptIncludes()">
  <script type="text/javascript">

    function reveal() {
        var searchval = document.getElementById("searchfor").value;
            if (Boolean(searchval) == true) {
                $('#myAlert').removeClass('hidden');
            }
    };

    $(document).ready(function()
    {
        var input = document.getElementById("searchfor");
        input.addEventListener("keypress", function(event) {
            if (event.key === "Enter") { reveal(); }
        });

        var table = $('#book_table').dataTable(
            {
                "responsive": true,
                "order": [[ 6, 'desc' ]],
                "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null
                    ],
                "columnDefs":
                    [
                        { targets: 'no-sort', orderable: false },
                        {targets: 4, "type": "alt-string"},
                    ]
                ,
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"Show _MENU_ books per page",
                    "sEmptyTable": "No books found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ results",
                    "sInfoEmpty":"Showing 0 to 0 of 0 books",
                    "sInfoFiltered":"(filtered from _MAX_ total books)"},
                "iDisplayLength": ${CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    // hide cover,stars on small devices
                    $('td', nRow).eq(4).addClass('hidden-sm hidden-xs');
                    $('td', nRow).eq(5).addClass('hidden-sm hidden-xs');
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Search table here");


        //var c = (document.querySelectorAll('a.hidden').length);
        //if ( c > 0 ) {
        //    setInterval( function () { window.location.reload( false ); }, 5000 );
        //    document.getElementById("myAlert").style.display = "block";
        //    } else {
        //    document.getElementById("myAlert").style.display = "none";
        //    }
    });
  </script>
</%def>
